//- Copyright (c) 2025 Bytedance Ltd. and/or its affiliates
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-     http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.

extends layout

block content
  h1 My Orders
  .orders-container
    if orders && orders.length
      each order in orders
        .order-item(id=`my_order_${order.id}` onclick=`window.location.href='/order/${order.id}'`)
          .order-id Order ##{order.id}
          .order-status= order.status
          .order-total= `Total: $${order.total_price}`
    else
      .empty-orders No orders found

  link(rel="stylesheet", href="/css/orders.css")